:root {
    --color-primary: #7dcfb6;
    --color-trans: #bcd0ac;
    --color-secondary: #f79256;
    --color-transsec: #f9b27c;
    --color-bg: #222222;
    --color-text: #fef5eb;
    --font-primary: "Roboto", sans-serif;
    --font-body: "Lora", serif;
}

body {
    margin: 8px;
    background: var(--color-bg);
}

h1 {
    font-size: 60px;
    white-space: nowrap;
    margin: 5px;
    font-family: var(--font-primary);
    color: var(--color-text);
}

img {
    width: 575px;
    border-radius: 20px;
    padding-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    position: relative;
    z-index: 1;
    max-width: 575px;
}

li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: -30px;
    background: inherit;
    z-index: -1;
    border-radius: 20px;
}

p {
    text-align: justify;
    line-height: 1.6;
    font-size: 20px;
    font-family: var(--font-body);
    padding: 0px 40px;
    color: var(--color-text);
}

hr {
    height: 1px;
    border: none;
    background: var(--color-secondary);
    margin: 20px 20px 0px 20px auto;
    max-width: 575px;
}

button {
    background: var(--color-primary);
    padding: 15px;
    font-family: var(--font-primary);
    font-size: 25px;
    text-transform: uppercase;
    color: var(--color-text);
    border-color: var(--color-text);
    border: none;
    border-radius: 15px;
}

button:hover {
    background: rgb(125, 207, 182);
    color: var(--color-bg);
    background: linear-gradient(90deg, rgba(125, 207, 182, 1) 0%, rgba(188, 208, 172, 1) 30%, rgba(249, 178, 124, 1) 70%, rgba(247, 146, 86, 1) 100%);
    transition: opacity 150ms ease;
    box-shadow: 0 1px 10px var(--color-text);
}

footer {
    color: var(--color-text);
    font-family: var(--font-body);
    text-align: center;
    margin: 20px auto;
    padding: 15px;
}

strong {
    text-transform: uppercase;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 650px;
    max-width: 650px;
    border-radius: 10px;
    width: 70%;
    padding: 30px;
    margin: 30px auto;
}

.h1big {
    font-size: 100px;
    text-transform: uppercase;
    color: var(--color-primary);
    display: inline-block;
}

.h1live {
    font-size: 35px;
    display: inline-block;
}

.h1small {
    font-size: 35px;
    text-transform: uppercase;
    color: var(--color-primary);
    display: inline-block;
}

.explore {
    background: var(--color-secondary);
    color: var(--color-bg);
    border-radius: 20px;
    margin: 5px 5px 15px 5px;
    padding: 15px 65px;
    font-size: 25px;
    font-family: var(--font-primary); 
}

.benefitheader {
    font-size: 60px;
    font-family: var(--font-primary);
    color: var(--color-primary);
    text-transform: uppercase;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

.transsec {
   background: var(--color-transsec);
   padding: 10px;
   border-radius: 20px; 
}

.secondary {
    color: var(--color-secondary);
    padding: 10px;
    border-radius: 20px;
}

.trans {
    background: var(--color-trans);
    padding: 10px;
    border-radius: 20px;
}

.primary {
    background: var(--color-primary);
    padding: 10px 10px 0px 10px;
    border-radius: 20px;
}

.liheader {
    font-family: var(--color-primary);
    font-size: 25px;
    color: var(--color-bg);
    text-align: left;
    padding-left: 40px;
}

.benefit-p {
    color: var(--color-bg);
}

.curatedcontent {
    display: flex;
    list-style: none;
    justify-content: center;
    background: var(--color-secondary);
    border-radius: 15px;
}

.curatedcontent li {
    margin-right: 0 auto;
}

.thumbnail {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.thumbnail:hover {
    cursor: pointer;
}

.thumbnailtext {
    text-align: center;
    font-family: var(--font-primary);
    color: var(--color-bg);
    margin: 15px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 650px;
    max-width: 650px;
    background: var(--color-bg);
    border-radius: 10px;
    width: 70%;
    padding: 30px;
    margin: 0px auto;
}

#footerfont {
    margin: 0;
    padding: 15px;
}

